# Loop
#### While
#### For

In [1]:
# While loop

# step 1 initialize
# step 2 Loop condition
# step 3 Updating value

In [5]:
# initialize
i=1

#loop conditon
while i<=6:
    # inside the body
    print("Pawan is multi talented!!!")
    # update
    i=i+1 #i +=1

Pawan is multi talented!!!
Pawan is multi talented!!!
Pawan is multi talented!!!
Pawan is multi talented!!!
Pawan is multi talented!!!
Pawan is multi talented!!!

# Print all numbers form 1 to 10 using loop

In [2]:
i = 1

#loop condition
while i <=10:
    
    #inside the body
    print(i)
    
    #update
    i +=1

1
2
3
4
5
6
7
8
9
10

In [3]:
# initialize
i = 1

# condition
while i <=10:
    
    #loop body
    print(i, end=' ')
    
    #update
    i +=1

1 2 3 4 5 6 7 8 9 10

# Print all even numbers from 1 to 10

In [10]:
3%2

1

In [11]:
9 % 3

0

In [13]:
# initialize
i=0

#condition
while i <=10:
    #check for even
    if i % 2 == 0:
        print (i, end=' ')
    
    #update
    i += 1

0 2 4 6 8 10

# Print sum of all numbers from 1 to 10

In [17]:
# initialize

i = 1
add = 0

# loop conditon

while i <= 10:
    
    # check the condition
    
    add = add+i
    print(add)
    
    #update
    i = i+1

1
3
6
10
15
21
28
36
45
55

In [33]:
# initialize

i = 1
add = 0

# loop conditon

while i <= 10:
    
    # check the condition
    
    add = add+i
   
    
    #update
    i = i+1
    
print(add)

55

# Range Function

### range() function allows users to generate series of numbers
### it is iterable as well

In [20]:
range(5)

range(0, 5)

In [21]:
list(range(1,10))
# default it choose start as 1, end 10 and jump 1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [25]:
list(range(10,1))

[]

In [27]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [29]:
list(range(10, 2,-2))

[10, 8, 6, 4]

In [34]:
list(range(-1, 10))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# For Loop
### for loop requires iterator and iterable for iteration. no need of condition for exiting the loop

In [37]:
# i: iterator
# range: iterable

for i in range(1,11):
    print(i, end= ' ')

1 2 3 4 5 6 7 8 9 10

# Print multiplication table of 5

In [43]:
n = int(input())

for i in range(1,11):
    print (i * n, end=' ')

 2

2 4 6 8 10 12 14 16 18 20

# Pattern

In [46]:
for i in range(4):
    print('#', end= ' ')
print()  #gives new line

for i in range(4):
    print('#', end= ' ')
print() 
for i in range(4):
    print('#', end= ' ')
print()

# # # #
# # # #
# # # #

In [50]:
for i in range(4):
    for j in range(4):
        print('#', end= ' ')
    print() 
    
# outer loop reps rows 
# inner loop reps column

# # # #
# # # #
# # # #
# # # #

# Pattern 2

In [54]:
n= int(input())

# run for rows

for i in range (1, n+1):
    for j in  range(i):
        print("#", end= ' ')
        
        # after printing row go to next row
    print()

 3

#
# #
# # #

# Break, Continue and Pass
### * These statement used to alter the flow of a program
### * Break: Breaks the flow of program once this condition is hit
### * Continue: It skips that particular iteration 
### * Pass: To avoid the Syntax error

In [3]:
# Pass


for i in range(1,10):
    pass
# it avoid error and no output

In [5]:
# Continue

In [6]:
for i in range(1, 10):
    if i==6:
        continue # cut number 6 and continue
    print(i)

1
2
3
4
5
7
8
9

In [ ]:
#  Break

In [ ]:
for  i in range(1, 10):
    if i==5:
        break
    print (i)

In [ ]:
i=1

while i<=6:
    if i==3:
        break
        print(i)
    i +=1

In [ ]:
for  i in range(1, 10):
    if i==5:
        break
    print (i)

In [ ]:
i=0

while i<=6:
    if i==3:
        break
    print(i)
    i = i+1